body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Lato Thin';
    src: url(../fonts/Lato-ThinItalic.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato-LightItalic.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 500;
}
  
.container {
    max-width: 994px;
    margin: auto;
    width: 100%;
}

header {
	background-image: url('../images/header-img.png');
	background-size: contain;
	height: 700px;
}

.logo {
    display: inline-flex;    
}

.logo-text {
    color: #fff;
    display: inline-block;
    font-family: Lato;
    font-size: 20px;
    padding-top: 23px;
}

.logo .dot {
    background-color: #4C76FF;
    border-radius: 50%;
    display: inline-block;
    height: 4px;
    margin-top: 40px;
    margin-left: 4px;
    width: 4px;
}

.tag-line {
    color: #325166;
    margin-left: 31px;
    margin-top: 29px;
}

.tag-line-text {
    color: #888486;
    font-family: 'Lato Thin';
    font-size: 14px;
    margin-left: 20px;
    margin-top: 32px;
}

.menu {
    align-items: baseline;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 32px;
}

.menu .submenu {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.submenu li {
    font-family: 'Lato Thin';
    font-size: 14px;
    padding-left: 32px;
}

.submenu li:first-child {
    padding-left: 0;
}

.submenu a {
    color: #fff;
    text-decoration: none;
}

.submenu a:active, .menu a:visited {
    color: #fff;
}

.submenu a:hover {
    border-top: 2px solid #4C76FF;
    padding-top: 30px;
}
  
.top-header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.header-content-one {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 252px;
}

.header-content-text {
    color: #fff;
    display: inline-block;
    font-family: Lato;
    font-size: 62px;
}

.header-content-dot {
    background-color: #4C76FF;
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-top: 40px;
    margin-left: 4px;
    width: 7px;
}

.header-content-two {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.header-content-two-text {
    color: #fff;
    font-family: 'Lato Thin';
    font-size: 48px;
    padding-top: 10px;
}

.header-content-text-other {
    color: #4867D5;
}

.header-content-three{
    display: flex;
    justify-content: center;
    padding-top: 36px;
}


.header-content-three-text {
    color: #fff;
    font-family: 'Lato Thin';
    font-size: 18px;
}

.line-right:after, .line-left:after {
    background-color: #4C76FF;
    content: '';
    display: block;
    height: 1px;
    margin-top: 12px;
    margin-left: 23px;
    margin-right: 23px;
    width: 29px;
}

.header .social {
    display: flex;
    justify-content: center;
    padding-top: 108px;
}

.header .social a {
	text-decoration: none;
	color: #88888A;
}

.header .social i {
    padding-left: 18px;
    opacity: 1;
}

.header .social i:hover {
    color: #fff;
}

.features {
    background-color: #EFEFEF;
    height: 432px; 
}

.features-group-one {
    display: flex;
    justify-content: center;
}

.features-group-one h2 {
    color: #4c76ff;
    font-family: 'Lato Black';
	font-size: 28px;
    margin: 0;
    padding-top: 72px;
    text-transform: uppercase;
}

.heart {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.heart:before, .heart:after {
    background-color: #D7DADC;
    content: '';
    display: block;
    height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    width: 90px;
}

.features-view {
    margin-top: 72px;
}

.branding, .development, .consulting {
    display: inline-flex; 
    margin-right: 20px;  
}

.consulting:last-child {
    margin-right: 0;
}

.branding-img, .development-img, .consulting-img {
    margin-top: 26px;
    margin-right: 14px;
}

.branding-content, .development-content, .consulting-content {
    max-width: 258px;
    width: 100%;
}

.branding-title, .development-title, .consulting-title {
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 900;
}

.branding-text, .development-text, .consulting-text {
    color: #000;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 500;
}

.features-iphone {
    display: flex;
    flex-direction: row;
}

.content-iphone {
    margin: 0 auto;
    max-width: 782px;
	text-align: center;
	padding-top: 90px;
    width: 100%;
}

.content-iphone span {
    color: #282528;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.left-features {
    display: flex;
    flex-direction: column;
    margin-top: 145px;
    max-width: 300px;
    width: 100%;
}

.customize, .timer, .music {
    display: inline-flex;
    margin-bottom: 72px;
}

.customize:hover, .timer:hover, .music:hover {
    background-color: #FEFCE9;
    cursor: pointer;
}

.music:last-child {
    margin-bottom: 0;
}

.customize-content, .timer-content, .music-content {
    max-width: 300px;
    width: 100%;
}

.customize-icon, .timer-icon, .music-icon {
    display: inline-flex;
    margin-right: 24px;
}

.customize-title h2, .timer-title h2, .music-title h2 {
    color: #000;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}

.customize-text, .timer-text, .music-text {
    color: #000;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 500;
}

.iphone-img {
	margin-top: 100px;
}

.iphone-img object {
	max-width: 370px;
	width: 100%;
}

.right-features{
    margin-top: 145px;
    max-width: 300px;
    width: 100%;
}

.support, .send, .camera {
    display: inline-flex;
    margin-bottom: 72px;
}

.support:hover, .send:hover, .camera:hover {
    background-color: #FEFCE9;
    cursor: pointer;
}

.camera:last-child {
    margin-bottom: 0;
}

.support-content, .send-content, .camera-content {
    max-width: 300px;
    width: 100%;
}

.support-icon, .send-icon, .camera-icon {
    display: inline-flex;
    margin-right: 24px;
}

.support-title h2, .send-title h2, .camera-title h2 {
    color: #000;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}

.support-text, .send-text, .camera-text {
    color: #000;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 500;
}

.works-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.works-title h2 {
    color: #4c76ff;
    font-family: 'Lato Black';
	font-size: 28px;
    margin: 0;
    padding-top: 72px;
    text-transform: uppercase;
}

.works-text {
    margin: auto;
    max-width: 702px;
    text-align: center;
    padding-top: 36px;
    width: 100%;
}

.filter-view {
    margin-top: 72px;
    text-align: center;
}

.filter-view li {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;

}

.filter-view a {
    color: #000;
    font-family: 'Lato Black';
    font-size: 14px;
    font-weight: 900;
    margin-right: 45px;
    padding: 5px 15px;
    text-decoration: none;
}

.filter-view a:last-child {
    margin-right: 45px;
}

.filter-view a:hover {
    background-color: #4C76FF;
    border-radius: 10px;
}

.portfolio-items {
	display: flex;
	flex-wrap: wrap;
}

.portfolio .portfolio-items, .portfolio .portfolio-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.portfolio .portfolio-item  {
	overflow: hidden;
	position: relative;
	width: 25%;
}

.portfolio .portfolio-item img {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
}

.portfolio-item_hidden {
    display: none;
}

.portfolio-descr {
	background-color: rgba(88, 124, 247, 0.5);
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	left: 0;
	opacity: 0;
    position: absolute;
	text-align: center;
	top: 100%;
	transition: all .5s;
	width: 100%;
}

.portfolio-descr .descr {
	color: #fff;
	padding-bottom: 10px;
}

.portfolio .portfolio-item:hover .portfolio-descr {
    opacity: 1;
    top: 0;
}

.team-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.team-title h2 {
    color: #4c76ff;
    font-family: 'Lato Black';
	font-size: 28px;
    margin: 0;
    padding-top: 72px;
    text-transform: uppercase;
}

.team-text {
    color: #000;
    font-family: 'Lato Thin';
    font-size: 15px;
    margin: auto;
    max-width: 702px;
    text-align: center;
    padding-top: 36px;
    width: 100%;
}

.team-cards {
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

.team-cards-view {
    display: flex;
    margin: 0;
    padding: 0;
}

.team-cards img {
    max-width: 100%;
    width: 225px;
}

.team-cards .team {
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 0;
}

.team-cards .team:last-child {
    padding-right: 0;
}

.team-name {
    color: #062033;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}

.active-name {
    color: #4C76FF;
}

.team-position {
    color: #062033;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}

.teamperson {
    position: relative;
}

.teamperson:hover .team-hover {
    visibility: visible;
    opacity: 1;
}

.team-hover {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    background: rgba(76,118,255,.9);
    color: #fff;
    width: 100%;
    max-width: 206px;
    height: auto;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    transition: all 0.1s;
    cursor: pointer;
}

.team-hover .team-hover__icon {
    width: 36px;
    padding-top: 11px;
    height: 32px;
    background: #3653af;
    color: #fff;
}

.facts {
    background: url('../images/fun.png') no-repeat center center;
    background-size: cover;
    height: 450px;
    position: relative;
    width: 100%;
}

.facts:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #061C2E;
    opacity: 0.5;
    z-index: 1;
}

.facts-content{
    position: relative;
	color: white;
	text-align: center;
	z-index: 2;
}

.facts-title h2 {
    color: #4c76ff;
    font-family: 'Lato Black';
	font-size: 21px;
    margin: 0;
    padding-top: 72px;
    text-align: center;
    text-transform: uppercase;
}

.facts-number {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 45px;
    font-weight: 900;
}

.facts-text {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.circles {
    padding-top: 55px;
}


.circles i {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
    height: 98px;
	line-height: 98px;
	margin-bottom: 35px;
	text-align: center;
	width: 98px;
}

.circles-view {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.circles p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.discuss{
	padding-bottom: 90px;
	width: 100%;
}

.discuss-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.discuss-adress {
    max-width: 230px;
    width: 100%;
}

.discuss-title h2 {
    color: #4c76ff;
    font-family: 'Lato Black';
	font-size: 28px;
    margin: 0;
    padding-top: 72px;
    text-align: center;
    text-transform: uppercase;
}

.discuss-text {
    color: #000;
    font-family: 'Lato Thin';
    font-size: 15px;
    margin: auto;
    max-width: 702px;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 80px;
    width: 100%;
}

.discuss-adress h2 {
    color: #062033;
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    max-width: 207px;
    text-align: left;
	padding: 0;
	padding-bottom: 20px;
    width: 100%;
}

.discuss-adress p {
    color: #6a737b;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 500;
    margin: 0;
    max-width: 150px;
    text-align: left;
    padding: 0 0 5px 0;
    width: 100%;
}

.discuss-form {
    max-width: 670px;
    width: 100%;
}

.discuss-form .form {
	max-width: 636px;
	width: 100%;
}

.discuss-form input[type="text"] {
    color: #5b646e;
    font-family: 'Open Sans';
    font-size: 11px;
	font-weight: 500;
	margin-right: 20px;
}


.discuss-form input {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #E0E0E0;
    color: #000;
	font-family: 'Open Sans';
	font-size: 11px;
    font-weight: 500;
	max-width: 300px;
	padding: 0 0 10px 0;
    resize: none;
    width: 100%;
}

.discuss-form textarea {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #E0E0E0;
	color: #000;
	font-family: 'Open Sans';
    font-weight: 500;
    font-size: 11px;
	margin-bottom: 30px;
    max-width: 630px;
    padding-top: 36px;
    resize: none;
    width: 100%;
}

.discuss-form input:active, :hover, :focus, .discuss-form textarea:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.discuss-form h2 {
    color: #062033;
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 900;
    margin: 0;
    max-width: 207px;
    text-align: left;
	padding: 0;
	padding-bottom: 36px;
    width: 100%;
}

.discuss-form button {
	background-color: #fff;
	border: 0;
	color: #000;
	cursor: pointer;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 500;
	float: right;
	padding: 0;
}

.discuss-contacts .social {
    display: flex;
    flex-direction: column;
    max-width: 20px;
    width: 100%;
}

.discuss-contacts .social a {
    color: #CDD2D6;
    padding-bottom: 20px;
}

.discuss-contacts .social a:last-child {
    padding-bottom: 0;
}

.fab {
	font-size: 21px;
}

.fab:hover {
	color: #9CA1A5;
}

.far {
	color: #4c76ff;
	font-size: 20px;
}

.map  {
	width: 100%;
	height: 180px;
}

.footer {
	height: 252px;
	background-color: #010305;
	padding-top: 48px;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer .logo {
	padding-bottom: 18px;
}

.footer-descr .text {
	color: #fff;
	font-family: 'Lato Thin';
	font-size: 13px;
	font-weight: 500;
	padding-top: 11px;
	max-width: 248px;
	width: 100%;
}

.subscribe {
	max-width: 258px;
	width: 100%;
}

.subscribe h3 {
	color: #fff;
    font-family: 'Lato Black';
    font-size: 18px;
    font-weight: 500;
    margin: 0;
	padding: 23px 0 36px 0;
}

.subscribe .text {
	color: #fff;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    text-align: left;
	padding: 18px 0 36px 0;
}

.subscribe input {
	background: none;
	background: url(../images/arrow.png) no-repeat 94% center;
	border: 2px solid #fff;
	color: #fff;
	font-family: 'Open Sans';
	font-size: 12px;
    padding: 7px;
	width: 100%;
}

.explore {
	max-width: 202px;
	width: 100%;
}

.explore h3 {
	color: #fff;
    font-family: 'Lato Black';
    font-size: 18px;
    font-weight: 500;
    margin: 0;
	padding: 23px 0 30px 0;
}

.explore .links {
	display: flex;
	flex-direction: row;
    margin: 0;
	padding: 0;
	padding-bottom: 36px;
}

.explore .links a  {
	color: #fff;
	font-family: 'Open Sans';
    font-size: 12px;
	font-weight: 500;
	text-align: left;
	text-decoration: none;
	padding-bottom: 10px;
}

.explore .links a:last-child {
	padding-bottom: 0;
}

.explore .left-links, .explore .right-links {
	display: flex;
	flex-direction: column;
	padding-right: 36px;
}

.explore .right-links:last-child {
	padding-right: 0;
}

@media screen and (max-width: 1026px) {
	.container {
		max-width: 826px;
	}

	.features-view {
		display: flex;
	}

	.left-features p, .right-features p {
		font-size: 10px;
	}

	.left-features h2, .right-features h2 {
		font-size: 13px;
	}

	.discuss-form input {
		max-width: 240px;
	}

	.discuss-form textarea {
		max-width: 500px;
	}

	.discuss-form .form {
		max-width: 504px;
	}
}

@media screen and (max-width: 860px) {
	.container {
		max-width: 700px;
	}

	.features-iphone {
		flex-direction: column;
	}

	.left-features {
		margin: auto;
		margin-top: 70px;
		max-width: 555px;
		width: 100%;
	}

	.customize-content, .timer-content, .music-content, .support-content, .send-content, .camera-content  {
		max-width: 555px;
		width: 100%;
	}

	.music-content {
		margin-bottom: 40px;
	}

	.iphone-img {
		margin: auto;
	}

	.left-features p, .right-features p {
		font-size: 13px;
	}

	.left-features h2, .right-features h2 {
		font-size: 15px;
	}

	.right-features {
		margin: auto;
		max-width: 555px;
		width: 100%;
	}

	.subscribe {
		max-width: 150px;
	}
}

@media screen and (max-width: 742px) {
	.container {
		max-width: 524px;
	}

	.menu {
		display: none;
	}

	header {
		height: 350px;
	}

	.header-content-one {
		padding-top: 46px;
	}

	.header-content-text {
		font-size: 43px;
	}

	.header-content-dot {
		height: 5px;
		margin-top: 31px;
		width: 5px;
	}

	.header-content-two-text {
		font-size: 22px;
		padding-top: 3px;
	}

	.header-content-three-text {
		font-size: 14px;
	}

	.line-right:after, .line-left:after {
		margin-top: 10px;
		margin-left: 18px;
		margin-right: 18px;
		width: 29px;
	}

	.header .social {
		padding-top: 54px;
	}

	.tag-line-text {
		font-size: 11px;
	}

	.features-view {
		flex-direction: column;
		margin-top: 14px;
	}

	.features-group-one h2 {
		padding-top: 43px;
	}

	.branding-title, .development-title, .consulting-title {
		font-size: 11px;
	}

	.branding-content, .development-content, .consulting-content {
		max-width: 100%;
	}

	.branding-img, .development-img, .consulting-img {
		margin-right: 39px;
	}

	.facts {
		height: 1230px;
	}

	.facts-number {
		font-size: 40px;
	}

	.facts-text {
		font-size: 11px
	}

	.circles-view {
		flex-direction: column;
	}

	.circles i {
		height: 85px;
		line-height: 85px;
		margin-top: 48px;
		width: 85px;
	}


	.team-cards-view {
		flex-flow: wrap;
		justify-content: center;
	}

	.discuss-contacts {
		flex-direction: column;
	}

	.discuss-form h2 {
		padding-top: 19px;
	}

	.discuss-form {
		padding-bottom: 37px;
	}

	.discuss-contacts .social {
		flex-direction: row;
		margin-left: 195px;
	}

	.discuss-contacts .social a {
		padding-bottom: 0;
		padding-right: 16px;
	}

	.footer {
		height: 552px;
	}

	.footer-content {
		flex-direction: column;
	}

	.footer .logo {
		padding-bottom: 0;
	}

	.footer-descr .text {
		max-width: 100%;
	}

	.subscribe {
		max-width: 100%;
	}

	.explore .left-links, .explore .right-links {
		padding-right: 210px;
	}

	.subscribe  input {
		width: 95%;
	}
}

@media screen and (max-width: 550px)  {
	.container {
		max-width: 455px;
		width: 100%;
	}

	.team-cards-view {
		flex-direction: column;
	}

	.team-position {
		font-size: 9px;
	}

	.discuss-form input {
		max-width: 200px;
	}
	
}